
.meeting {
  border: 1px solid blue;
  margin: 10px 5px;
}

.date {
  font-size: .750rem;
  font-weight: 900;
}

.title {
  font-size: .875rem;
  font-weight: 900;
}

.description {
  font-size: .750rem;
}
